.main-block {
    background-color: dimgray;
    border: 2px solid black;
    width: 1200px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;  
    overflow: auto;
}
.logo-sitename {
    background-color: white;    
    color: black;
    margin: 3px;
    margin-bottom: 1px;
    height: 15%;
    min-height: 172px;
}
.header {
    width: auto;
    height: 172px;
    float: left;
}
.header h3 {
    height: 172px;
    display: table-cell;
    vertical-align: middle;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 24pt;
    margin: 3px;
}
.logo {
    float: left;
    align-content: center;
    width: 40%;
}
.logo img {
    float: right;
    width: 40%;    
}
.menu {
    float: left;
    text-align: center;
    width: 15%;
    margin-top: 30px;
    margin-left: 0px;
}
.menu a{
    display: block;
    background-color: white;
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;    
    padding: 2vh;
    margin-top: 20px;
}
.menu li{
    list-style-type:none;
    float: center;
}
a:link {
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
    background-color: lightgray;
}
.page-settings {
    color:white;
    float: right;
    margin: 10px;
    margin-top: 30px;        
    width: 82%;
    overflow: hidden;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}
.page-settings table, td, th {
    text-align: center;
    float: center;
    border: 2px solid white;
    border-collapse: separate;
}
.table-of-users {
    float: center;
}
.user-ava {
    float: left;
    margin: 5px;    
    width: 35%;
}
.user-ava img {
    border: 2px solid white;
    width:200px;
    height:200px;
}
.user-inf {
    float: left;
    width: auto;
    margin: 5px;
    text-align: left;
}
.user-bio {
    float: none;
    margin: 5px;
    margin-left: 78px;
    margin-right: 78px;
    border: 2px solid white;
    text-align: justify;
    padding: 5px;
}
.order li{
    display: block;
    border: 2px solid white;
    border-collapse: separate;
    margin: 3px;
    padding: 2vh;
}
.dish-img {
    float: left;
    margin: 5px;    
    width: 35%;
}
.dish-img img {
    border: 2px solid white;
    width:225px;
    height:225px;
}
.dish-name {
    float: left;
    width: auto;
    margin: 5px;
    text-align: left;
}
.contacts {
    float: left;
    width: 70%;
}
.contacts h4, p {
    margin: 20px;
}
.author {
    float: left;
    width: 30%;
}
.author img {
    border: 2px solid white;
    width:240px;
    height:320px; 
}
.author h3, h4 {
    margin: 2px;
}

